extends layout

block content
  h1= title
  h2: This #[a(href="/parking") Parking API]
  
  h4 Searching #{title} With The Location You Enter Below
  form(name="add-estimation", method="get", action='/parking')
    div.input
      span.label Lat: 
      input(type="text", name="lat", placeholder="0.543")
      span.label &nbsp
      span.label Long: 
      input(type="text", name="lng", placeholder="50.452")
      span.label &nbsp
      span.label Radius: 
      input(type="text", name="radius", placeholder="5000")
      span.label &nbsp
      input(type="submit", value="Search")
  h5 Bristol : Lat: 51.454514 Long: -2.587910 Radius: 15000