extends layout

block content
  h1= title

  hr

  h3 Searching #{title} With The Location You Enter Below
  form(name="add-estimation", method="get", action='/api/carparks')
    div.input
      span.label Lat: 
      input(type="text", name="lat", placeholder="51.4545")
      span.label &nbsp
      span.label Long: 
      input(type="text", name="lng", placeholder="-2.5879")
      span.label &nbsp
      span.label Radius: 
      input(type="text", name="radius", placeholder="5000")
      span.label &nbsp
      input(type="submit", value="Search")

  hr
  h3 GET All Scraping Locations
    h5 Id: 12345 See #[a(href="/api/scrapinglocations/") #{"http://127.0.0.1:3000/api/scrapinglocations/"}]

  h3 GET One Scraping Locations
    h5 Id: 12345 See #[a(href="/api/scrapinglocations/12345") #{"http://127.0.0.1:3000/api/scrapinglocations/12345"}]

  h3 INSERT New Scraping Locations
  form(name="add-estimation", method="post", action='/api/scrapinglocations')
    div.input
      span.label Name: 
      input(type="text", name="Name", placeholder="Bristol")
      span.label &nbsp
      span.label Lat: 
      input(type="text", name="lat", placeholder="51.4545")
      span.label &nbsp
      span.label Long: 
      input(type="text", name="lng", placeholder="-2.5879")
      span.label &nbsp
      span.label Radius: 
      input(type="text", name="radius", placeholder="5000")
      span.label &nbsp
      input(type="submit", value="Insert")