extends layout

block content
  h1= title
  h2: This #[a(href="/parking") Parking API]
  
  h4 Searching #{title} With The Location You Enter Below
  form(name="add-estimation", method="get", action='/parking')
    div.input
      span.label Location: 
      input(type="text", name="latLong", placeholder="Lat, Long (0.543,50.321)")
      span.label &nbsp
      input(type="submit", value="Search")